<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>New Person</title>
</head>
<body>
<div class="container">
    <form action="/add-person" method="post">
        <br/>
        <input type="text" class="form-control" name="name" placeholder="Name"/>
        <br/>
        <input type="text" class="form-control" name="age" placeholder="Age"/>
        <br/>
        <input type="text" class="form-control" name="height" placeholder="Height"/>
        <br/>
        <input type="text" class="form-control" name="weight" placeholder="Weight"/>
        <br/>
        <input type="submit" class="btn btn-success" role="button" value="New Person"/>
    </form>
</div>
</body>
</html>