<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update person</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form action="/update-person" method="post">
    <input type="text" class="form-control" name="name"/>
    <br/>
    <input type="text" class="form-control" name="age"/>
    <br/>
    <input type="text" class="form-control" name="height"/>
    <br/>
    <input type="text" class="form-control" name="weight"/>
    <br/>
    <input type="submit" class="btn btn-success" role="button"/>
</form>
</body>
</html>