<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update person</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<style type="text/css">
    .error-input {
        border: 1px red solid;
    }
</style>

    <form action="/update-person" method="post" th:object="${person}">
        <input type="hidden" th:field="*{id}" />
    <input type="text" class="form-control" th:field="*{name}" />
    <br/>
    <input type="text" class="form-control" th:field="*{age}" th:errorclass="error-input" />
    <br/>
    <input type="text" class="form-control" th:field="*{height}" th:errorclass="error-input" />
    <br/>
    <input type="text" class="form-control" th:field="*{weight}" th:errorclass="error-input" />
    <br/>
    <input type="submit" class="btn btn-success" role="button"/>
        <br />
        <p class="text-danger" th:if="${#fields.hasErrors('*')}">Age, height and weight dhould be numbers</p>
</form>
</body>
</html>